
<section class="footer">
	<div class="box-container">
		<div class="box">
			<h3>Links Rápidos</h3>
			<a href="#">Home</a>
			<a href="#">Sobre</a>
			<a href="#">Productos</a>
			<a href="#">Reseñas</a>
			<a href="#">Contacto</a>
		</div>
		<div class="box">
			<h3>Links extras</h3>
			<a href="#">Mi Cuenta</a>
			<a href="#">Mi Pedido</a>
			<a href="#">Mis Favoritos</a>
		</div>
		<div class="box">
			<h3>Localizaciones</h3>
			<a href="#">Brasil</a>
			<a href="#">USA</a>
			<a href="#">Japon</a>
			<a href="#">Francia</a>
		</div>
		<div class="box">
			<h3>Informacion de contacto</h3>
			<a href="#">+50664492196</a>
			<a href="#">rodrig80.rp@gmail.com</a>
			<a href="#">San Jose Costa Rica - 11101</a>
			<img src="img/payment.png" alt="">
		</div>
	</div>
	<div class="credit">Creado por <span>Rodrigo Piña </span></div>
</section>

