
<section class="about" id="about">
	<h1 class="heading"> <span>Sobre </span>Nosotros</h1>
	<div class="row">
		<div class="video-container">
			<video src="../../assets/about-vid.mp4" loop autoplay muted></video>
			<h3>Los mejores vendedores de flores</h3>
		</div>
		<div class="content">
			<h3>Porque Elegirnos</h3>
			<p>Somos una compañia con mas de 8 años de Experiencia</p>
			<p>Los Primeros en Calidad en Nuestro Pais</p>
			<a href="#" class="btn">Saber mas</a>
		</div>
	</div>
</section>
