
<section class="contact" id="contact">
	<h1 class="heading"><span>Contactenos </span> Es un gusto atenderle</h1>
	<div class="row">
		<form action="">
			<input type="text" placeholder="Nombre" class="box">
			<input type="email" placeholder="E-mail" class="box">
			<input type="number" placeholder="Número" class="box">
			<textarea name="" id="" cols="30" rows="10" class="box" placeholder="Mensage"></textarea>
			<input type="submit" value="Enviar Mensage" class="btn">
		</form>
		<div class="image">
			<img src="../../assets/contact-img.svg" alt="">
		</div>
	</div>
</section>
