
<section class="review" id="review">
	<h1 class="heading"><span>Calificacion </span> de Clientes</h1>
	<div class="box-container">
		<div class="box">
			<div class="stars">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
			</div>
			<p>Acabo de visitar la floristería en el centro de la ciudad y quiero expresar mi sincera gratitud por el servicio excepcional que recibí. El personal fue amable y atento, y me ayudaron a elegir el ramo perfecto para mi ocasión especial. Además, el precio fue razonable y el ramo que recibí estaba hermoso y fresco. Sin duda volveré a visitar esta floristería en el futuro y la recomendaré a mis amigos y familiares</p>
			<div class="user">
				<img src="../../assets/pic-1.png" alt="">
				<div class="user-info">
					<h3>Thiago Salazar</h3>
					<span>Cliente feliz</span>
				</div>
			</div>
			<span class="fas fa-quote-right"></span>
		</div>
		<div class="box">
			<div class="stars">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
			</div>
			<p>La floristería a la que fui el otro día fue una verdadera maravilla. Desde el momento en que entré, me sentí acogida por el personal amable y profesional. Me ayudaron a elegir el ramo perfecto para mi amiga y el resultado final fue increíble. Además, el precio fue muy razonable y el ramo llegó a tiempo y en perfectas condiciones. Sin duda volveré a comprar aquí en el futuro y recomendaré esta floristería a todos mis amigos y familiares</p>
			<div class="user">
				<img src="../../assets/pic-2.png" alt="">
				<div class="user-info">
					<h3>Priscila Andrade</h3>
					<span>Cliente feliz</span>
				</div>
			</div>
			<span class="fas fa-quote-right"></span>
		</div>
		<div class="box">
			<div class="stars">
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
			</div>
			<p>Quiero dejar una reseña para expresar mi agradecimiento a la floristería que visité el otro día. La atención al cliente fue excelente y el personal fue muy amable y servicial. Me ayudaron a elegir el ramo perfecto para mi ocasión especial y el resultado final fue absolutamente increíble. Además, el precio fue muy razonable y el ramo llegó a tiempo y en perfectas condiciones. Estoy muy contenta con mi experiencia y sin duda volveré a comprar aquí en el futuro</p>
			<div class="user">
				<img src="../../assets/pic-3.png" alt="">
				<div class="user-info">
					<h3>Daniel Ramirez</h3>
					<span>Cliente feliz</span>
				</div>
			</div>
			<span class="fas fa-quote-right"></span>
		</div>
	</div>
</section>
