
<section class="home" id="home">
	<div class="content">
		<h3>Flores frescas</h3>
		<span>Hermosas Flores Naturales</span>
		<p>¿Quieres darle un toque natural y fresco a tu hogar o oficina? Ven a nuestra floristería y elige entre nuestra selección de plantas y flores.</p>
		<p>¡Te ayudaremos a encontrar el ambiente perfecto para ti!</p>
		<p>Si estás buscando flores para un evento especial, ¡nuestra floristería es el lugar ideal! Tenemos un equipo de expertos dispuestos a ayudarte a elegir el ramo y el arreglo perfectos para tu boda, graduación o cualquier otra ocasión.</p>
		<a href="#" class="btn">Compre ahora</a>
	</div>
</section>
